body{
    background-color: black;
}
h1{
 color: blueviolet; 
   font-style:italic ;
}

p{
    color: white;
}
h2{
    color: rgb(2, 2, 138);
}
h3{
    color:blue ;
}
h4{
    color: red;
}
.img1 {
    width: 50%;
    
}